body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    font-family: 'Bitter', serif;
    background-size: cover;
}
header:not(#social) {
    width: 1020px;
    background-color: #090401;
    margin: auto;
}
nav {
    width: 1020px;
    height: 60px;
    background-color: black;
    text-transform: uppercase;
}
nav ul li a {
    color: white;
    font-family: "Josefin Sans",sans-serif;
    font-weight: bold;
    text-decoration: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
.selected {
    color: #cfa205;
}
#titre {
    display: flex;
    justify-content: center;
    width: 1020px;
    height: 320px;
    color: #cfa205;
    flex-wrap: wrap-reverse;
}
h1 {
    font-size: 133px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 1.8em;
}
h1:hover {
    color: yellow;
}
div:nth-last-child(1) {
    padding-right: 11em;
}
section h2 {
    height: 1em;
    width: 0;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
}
#social {
    width: 1020px;
    height: 60px;
    background-color: #e8e8e8;
}
#fb {
    padding: 5px 9px;
}
i {
    border: 4px solid #7a7a7a;
    border-radius: 3em;
    color: #7a7a7a;
    margin: 14px 2px 2px;
    padding: 5px;
}
ul {
    display: flex;
    justify-content: center;
}
li {
    display: flex;
    margin-right: 1.5em;
}
main {
    background-color: white;
    width: 1020px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
main > p {
    border-bottom: 1px solid #e8e8e8;
    font-size: 18px;
    font-weight: bold;
    height: 90px;
    line-height: 25px;
    margin: auto;
    padding-bottom: 1em;
    padding-top: 2em;
    text-align: center;
}
article {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 3em;
}
h2 {
    text-transform: uppercase;
    font-size: 18px;
}
